*.pyc
*.DS_Store
*~
data/
*.tar.gz
*.egg-info
checkpoint*
data/*
*log
pred_out/*
nohup*
.vs/*
*.pyproj
*.sln
launch_docker
sftp-config.json
search_yamls/temp.yaml
data_snm
model_data
res.txt
*temp.yaml
